In [1]:
import pandas as pd

In [2]:
expenses = pd.DataFrame(
{
    "Rent":[1500, 4000, 7654, 9000],
    "Bussines trip":[25000, 31005, 98000, 10000],
    "It_equipment":[47000, 12000, 2354, 84562],
    "Office_stuff":[2154, 5624, 584, 4125],
    "Food":[3000, 3000, 3000, 3000]
})

In [8]:
expenses

   Rent  Bussines trip  It_equipment  Office_stuff  Food
0  1500          25000         47000          2154  3000
1  4000          31005         12000          5624  3000
2  7654          98000          2354           584  3000
3  9000          10000         84562          4125  3000

In [11]:
# saving as a CSV file
expenses.to_csv('expenses.csv', sep ='\t')